body {
    background-image: url(https://w.forfun.com/fetch/0f/0fb110fa4535a0fe42b0b653e28b98c8.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}
nav {
    margin: 5px;
}
nav a {
    text-decoration: none;
    color: black;
    background-color: silver;
    padding: 3px;
    border-radius: 5px;
    transition: 1s;
}
nav a:hover{
    background-color: gold;
    color: black;
}
.dragon {
    color: aliceblue;
    overflow: hidden;
    margin-right: 10px;
    font-size: 20px;

}
.dragon p {
    width: 1000px;
    
}
h1 {
    color: antiquewhite;
}
img {
    float: left;
    margin-right: 10px;
    
}
main {
    overflow: hidden;

}
.class_dragon {
    margin-left: 10px;

}
h2 {
    color: aliceblue;
}
ol  li {
    color: gold;
    margin-bottom: 5px;
}

li {
    text-decoration: none;
    color: black;
    padding: 3px;
    border-radius: 5px;
    transition: 1s;
}
footer {
    color: yellowgreen;
}
strong {
    color: gold;
}

p {
    color: aliceblue;
}

div.main_dr_class {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.container {
    color: aliceblue;
    font-size: 25px;

}
button {
    font-size: 20px;
}

.cont_chat {
    background-color: gold;
    
}